<div class='login-form'>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
    <div class="input">
      <img src="../../../assets/images/ICON/Email.png"/>
      <input formControlName="email"  type='email' class="email"/>
    </div>
    <div class="input">
      <label>
            <span>
                <img src="../../../assets/images/ICON/Login.png"/>
            </span>
      </label>
      <input type='password' class="password" formControlName="password"/>
    </div>
    <button type='Submit'>Sign in</button>
    <a href='#'>Forgot Password</a>
  </form>
</div>
